.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 1em rgba(0,0,0,.2);
    backdrop-filter: blur(2em);
    color: #fff;
    border-radius: .5em;
    padding: 2em 1.8em;
}

.wrapper h1 {
    font-size: 2em;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 3.5em;
    margin: 2em 0;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    outline: none;
    border-radius: 2em;
    font-size: 1em;
    color: #fff;
    padding: 1.5em 2em 1.5em 1.5em;
}

.wrapper .input-box input::placeholder {
    color: #fff;
}

.wrapper .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
}

.wrapper button {
    width: 100%;
    height: 3em;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 3em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1em;
    color: #333;
    font-weight: 700;
}